<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body class="container">
    <h1>{{title}}</h1>

  <div class="text-right">
    <a href="/new" class="btn btn-primary">
      Write in the training plan
    </a>
  </div>

    {{#entries}}
    <div class="card" data-id="{{id}}">
        <div class="card-header">
            {{subject}}
        </div>
        <div class="card-body">
            <div class="card-text">
                {{contents}}
            </div>
            <div class="card-text">
                Written by <a href='/posts/{{author}}'>{{author}}</a>, on {{published}}
            </div>
        </div>
    </div>
    {{/entries}} {{^entries}} No entries yet :-(. {{/entries}}
</body>

</html>