<html lang="en">
<head>
{{> partials/header}}
</head>
<body class="container">
<h1>{{title}}</h1>
<h2>Write a new entry in the training plan</h2>
 
<form method="post" role="form" action="">
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control" id="author"
           name="author"value="{{user}}" placeholder="Written by" required>
  </div>
  <div class="form-group">
    <label for="subject">Subject</label>
    <input type="text" class="form-control" id="subject"
           name="subject" placeholder="Entry subject line" required>
  </div>
  <div class="form-group">
    <label for="contents">Message</label>
    <textarea class="form-control" id="contents" name="contents"
              placeholder="Enter your comment here." rows="3" required>
    </textarea>
  </div>
  <div class="form-group">
    <input type="submit" value="Post entry" class="btn btn-primary">
  </div>
</form>
</body>
</html>